.container{
    width: 80%;
    margin: auto;
}

nav{
    margin-top: 30px;
}

img{
    width: 300px;
}

body{
    background-color: rgb(255, 255, 255);
}

h1{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(196, 73, 73);
    font-size: 70px;
    border-bottom: rgb(196, 73, 73) 5px solid;
}

p{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

a{
    font-size: 20px;
    padding-right: 15px;
    text-decoration: none;
    color: black;
}

a:hover{
    color: rgb(196, 73, 73);
}

.active{
    color: rgba(196, 73, 73, 0.753);
}

span{
    color: rgb(196, 73, 73);
    font-size: 25px;
}